
.logo {
  height: 40vmin;
}

.App-header {

}

.App-link {
  color: hotpink;
}

.lefttop { grid-area: lefttop;

 }
.leftbottom p { grid-area: leftbottom;
    text-align: center;
    padding-left: 20px;
    padding-top: 10%;
    }
.middle { grid-area: middle;
}
.righttop { grid-area: righttop;
    text-align: center;
    padding-right: 20px;

}
.righttop p {
    padding-top: 70px;
}
.rightbottom { grid-area: rightbottom;

}
.rightbottom img {
    animation: blink normal 1s infinite;
    height: 35vmin;
    padding-left: 25%;
}


.grid-container {
    display: grid;
    grid-template-areas:
            'lefttop middle righttop'
            'leftbottom middle rightbottom';
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 18% 82%;
    /*grid-gap: 5px;*/
    background-color: transparent;
    /*padding: 10px;*/
}
.grid-container > div {

    background-image: url(https://i.kinja-img.com/gawker-media/image/upload/s--PRh_Siee--/c_scale,f_auto,fl_progressive,q_80,w_800/vdxvfoes0exvqn1mkwms.png);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    font-family: Broadway;
    color: purple;
    text-shadow: 4px 4px 5px #EE34D2;
    padding: 20px 0;
    font-size: 30px;
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}


